* { box-sizing: border-box; }
:root { --bg: #1e1e1e; --fg: #eee; --ac: #aaa; --br: #777; --bl: #2e2e2e; --mg: 1.4rem; }
html { font: clamp(15px, 2.5vw, 17px)/1.4 Inter, system-ui, sans-serif; }
body { background: var(--bg); color: var(--fg); margin: 0 auto; max-width: 640px; padding: 1rem; }
body > * { margin: 2rem 0 }
main > * { margin: var(--mg) 0 }
pre, code, kbd { font-family: "SF Mono", ui-monospace, monospace; font-size-adjust: 0.5 }
pre code { font-size: 100%; display: block; background: var(--bl); padding: 0.6rem; overflow: auto; line-height: 1.33 }
figure { margin: 0px; }
img { width: 100%; }
table { width: 100%; border-collapse: collapse; }
td, th { border: thin solid var(--br); }
blockquote { border-left: solid var(--br); padding: 0 0.6rem; }
blockquote > :first-child, div.note > :first-child { margin-top: 0 }
blockquote > :last-child, div.note > :last-child { margin-bottom: 0 }
blockquote pre { white-space: pre-wrap }
sup { line-height: 0; }
a { color: cornflowerblue; text-underline-offset: 1px }
main a:visited { color: inherit }
a:hover { text-decoration: none }
h1 { font-size: 160%; margin: 0; line-height: 1.3; text-wrap: balance }
h2 { font-size: 130%; margin: 1.6rem 0 -0.5rem }
h3 { font-size: 110%; margin: 1.33rem 0 -0.5rem }
ul { list-style: square; }
ul.posts { list-style: none; padding: 0px; }
ul.posts li { margin-bottom: 0.25rem; }
header, footer { color: var(--ac) }
time, a.tag, header a { color: var(--ac) }
